<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <!-- Android 13 : Prevent to get error : IOException: Operation not permitted -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:minSdkVersion="30"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        tools:ignore="SelectedPhotoAccess" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware,ProtectedPermissions" />

    <!-- Hardware -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.external" />
    <uses-feature android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.level.full" />

    <application
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:hardwareAccelerated="true"
        tools:targetApi="33">

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode,face,ocr,text,langid" />

        <activity
            android:name=".ui.compose.MLKitComposeMainActivity"
            android:exported="true"
            android:theme="@style/Theme.MLKitCompose">
        </activity>

        <activity
            android:name=".ui.compose.barcodescanner.BarcodeScannerActivity"
            android:parentActivityName=".ui.compose.MLKitComposeMainActivity" />
        <activity
            android:name=".ui.compose.barcodescanner.BarcodeScannerResultActivity"
            android:parentActivityName=".ui.compose.barcodescanner.BarcodeScannerActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MLKitComposeTransparent" />
        <activity
            android:name=".ui.compose.cameratest.CameraTestActivity"
            android:parentActivityName=".ui.compose.MLKitComposeMainActivity" />
        <activity
            android:name=".ui.compose.documentscanner.DocumentScannerActivity"
               android:parentActivityName=".ui.compose.MLKitComposeMainActivity" />
        <activity
            android:name=".ui.compose.face.FaceDetectionActivity"
               android:parentActivityName=".ui.compose.MLKitComposeMainActivity" />
        <activity
            android:name=".ui.compose.ink.InkRecognitionActivity"
               android:parentActivityName=".ui.compose.MLKitComposeMainActivity" />
        <activity
            android:name=".ui.compose.textrecognition.TextRecognitionActivity"
               android:parentActivityName=".ui.compose.MLKitComposeMainActivity" />
        <activity
            android:name=".ui.compose.textrecognition.TextRecognitionAssetsActivity"
            android:parentActivityName=".ui.compose.textrecognition.TextRecognitionActivity" />
        <activity
            android:name=".ui.compose.translate.TranslateActivity"
               android:parentActivityName=".ui.compose.MLKitComposeMainActivity"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>