<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />


    <application tools:node="merge">
        <activity
            android:name=".ui.main.StreamActivity"
            android:exported="false"
            android:showOnLockScreen="true"
            android:showWhenLocked="true">
            <intent-filter android:priority="1">
                <action android:name="io.getstream.video.android.action.INCOMING_CALL" />
                <action android:name="io.getstream.video.android.action.ONGOING_CALL" />
                <action android:name="io.getstream.video.android.action.ACCEPT_CALL" />
                <action android:name="io.getstream.video.android.action.OUTGOING_CALL" />
                <action android:name="io.getstream.video.android.action.NOTIFICATION" />
            </intent-filter>
        </activity>
    </application>


</manifest>