<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />

    <!-- Location -->
    <!--For using only network based location use this one-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--ACCESS_FINE_LOCATION permission need for google play services version.-->
    <!-- For GPS based location, this one -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.riders.thelab.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.perssion.READ_GSERVICES" />

    <permission
        android:name="com.riders.thelab.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />


    <!-- Device -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />


    <!-- User Data -->
    <!-- Permissions required by GoogleAuthUtil -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <!-- System Data -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission." />
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.UPDATE_DEVICE_STATS"
        tools:ignore="ProtectedPermissions" />

    <!-- Use for floating widget -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Hardware -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.any" />
    <!--<uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera.external"/>
    <uses-feature android:name="android.hardware.camera.flash"/>-->


    <!-- Media Notification Foreground Service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Location -->
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <!--
        Android:java.lang.OutOfMemoryError: Failed to allocate a 23970828 byte allocation with 2097152 free bytes and 2MB until OOM

        Source : https://stackoverflow.com/questions/32244851/androidjava-lang-outofmemoryerror-failed-to-allocate-a-23970828-byte-allocatio

        OutOfMemoryError is the most common problem that occurs in android while especially dealing with bitmaps.
        This error is thrown by the Java Virtual Machine (JVM) when an object cannot be allocated due to lack of memory space
        and also, the garbage collector cannot free some space.

        As mentioned by Aleksey, you can add the below entities in your manifest file
        android:hardwareAccelerated="false" , android:largeHeap="true"
        it will work for some environments.

    -->


    <!--
        https://developer.android.com/guide/topics/graphics/hardware-accel#:~:text=Beginning%20in%20Android%203.0%20(API,app%20will%20consume%20more%20RAM.

        /!\ android:hardwareAccelerated="true" /!\
        Beginning in Android 3.0 (API level 11), the Android 2D rendering pipeline supports hardware acceleration,
        meaning that all drawing operations that are performed on a View's canvas use the GPU.
        Because of the increased resources required to enable hardware acceleration,
        your app will consume more RAM.
    -->
    <application
        android:name=".TheLabApplication"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_lab_six"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_lab_six_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheLab"
        android:usesCleartextTraffic="true">

        <!-- Firebase Perf -->
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="false" />

        <!-- Google Maps -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/google_ads_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />


        <!-- ////////////// ACTIVITIES ////////////// -->
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/LoginTheme" />

        <activity
            android:name=".ui.signup.SignUpActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.TheLab.NoActionBar" />

        <activity
            android:name=".ui.mainactivity.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.TheLab.NoActionBar" />

        <activity
            android:name=".ui.colors.ColorActivity"
            android:exported="true"
            android:label="@string/activity_title_colors"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/Theme.TheLab">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name=".ui.biometric.BiometricActivity"
            android:label="@string/activity_title_biometric"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/Theme.TheLab" />

        <activity
            android:name=".ui.recycler.RecyclerViewActivity"
            android:label="@string/activity_title_recycler_view"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/Theme.TheLab" />
        <activity
            android:name=".ui.recycler.RecyclerViewDetailActivity"
            android:parentActivityName=".ui.recycler.RecyclerViewActivity"
            android:theme="@style/Theme.TheLab.NoActionBar" />

        <activity
            android:name=".ui.tabs.WorkingTabsActivity"
            android:label="@string/activity_title_working_tabs"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/TabTheme" />

        <activity
            android:name=".ui.floatinglabels.FloatingLabelsActivity"
            android:label="@string/activity_title_floating_labels"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/SwipeDownTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.contacts.ContactsActivity"
            android:exported="true"
            android:label="@string/activity_title_database_contacts"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/Theme.TheLab.NoActionBar">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.contacts.ContactDetailActivity"
            android:parentActivityName=".ui.contacts.ContactsActivity"
            android:theme="@style/Theme.TheLab.NoActionBar" />

        <activity
            android:name=".ui.contacts.addcontact.AddContactActivity"
            android:label="@string/activity_title_add_new_contact"
            android:parentActivityName=".ui.contacts.ContactsActivity"
            android:theme="@style/Theme.TheLab"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <activity
            android:name=".ui.locationonmaps.LocationOnMapsActivity"
            android:label="@string/activity_title_location"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/LocationTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <activity
            android:name=".ui.schedule.ScheduleActivity"
            android:label="@string/activity_title_schedule_jobs"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/Theme.TheLab"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.deviceinformation.DeviceInformationActivity"
            android:label="@string/activity_title_device_information"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/SwipeDownTheme" />

        <activity
            android:name=".ui.palette.PaletteActivity"
            android:label="@string/activity_title_palette"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/PaletteTheme" />

        <activity
            android:name=".ui.filterlistview.FilterListViewActivity"
            android:label="@string/activity_title_filter_list_view"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/FilterListViewTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.multipane.MultipaneActivity"
            android:label="@string/activity_title_multipane"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/MultiPaneTheme" />
        <activity
            android:name=".ui.multipane.MultipaneDetailActivity"
            android:parentActivityName=".ui.multipane.MultipaneActivity"
            android:theme="@style/MultiPaneTheme" />

        <activity
            android:name=".ui.builtin.BuiltInWebViewActivity"
            android:label="@string/activity_title_built_in_web_view"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/BuiltInWebViewTheme" />

        <activity
            android:name=".ui.builtin.BuiltInBrowserActivity"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/BuiltInWebViewTheme" />

        <activity
            android:name=".ui.youtubelike.YoutubeLikeActivity"
            android:label="@string/activity_title_youtube_like"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/YoutubeTheme" />
        <activity
            android:name=".ui.youtubelike.YoutubeLikeDetailActivity"
            android:parentActivityName=".ui.youtubelike.YoutubeLikeActivity"
            android:theme="@style/YoutubeTheme" />

        <activity
            android:name=".ui.speechtotext.SpeechToTextActivity"
            android:label="@string/activity_title_speech_to_text"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/Theme.TheLab" />


        <activity
            android:name=".ui.weather.WeatherActivity"
            android:exported="true"
            android:label="@string/activity_title_weather"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/Theme.TheLab">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_weather" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.floatingview.FloatingViewActivity"
            android:label="@string/activity_title_floating_view"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/Theme.TheLab" />

        <activity
            android:name=".ui.transition.TransitionActivity"
            android:label="@string/activity_title_transition"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/TransitionTheme" />
        <activity
            android:name=".ui.transition.TransitionDetailActivity"
            android:label="@string/activity_title_transition_detail"
            android:parentActivityName=".ui.transition.TransitionActivity"
            android:theme="@style/TransitionTheme" />

        <activity
            android:name=".ui.customtoast.CustomToastActivity"
            android:label="@string/activity_title_custom_toast"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/TransitionTheme" />
        <activity
            android:name=".ui.vectordrawables.VectorDrawablesActivity"
            android:label="@string/activity_title_vector_drawables"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/Theme.TheLab" />

        <activity
            android:name=".ui.spring.SpringActivity"
            android:label="@string/activity_title_spring"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/Theme.TheLab" />

        <activity
            android:name=".ui.kat.KatActivity"
            android:label="@string/activity_title_kat"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/Theme.TheLab"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.songplayer.SongPlayerActivity"
            android:label="@string/activity_title_music"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/Theme.TheLab" />

        <!-- Google -->
        <activity
            android:name=".ui.googlesignin.GoogleSignInActivity"
            android:label="@string/activity_title_google_sign_in"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/Theme.TheLab" />
        <activity
            android:name=".ui.googledrive.GoogleDriveActivity"
            android:label="@string/activity_title_google_drive"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:theme="@style/Theme.TheLab" />

        <activity
            android:name=".ui.download.DownloadActivity"
            android:label="@string/activity_title_download"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.lottie.LottieActivity"
            android:label="@string/activity_title_lottie"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".ui.bluetooth.BluetoothActivity"
            android:label="@string/activity_bluetooth_title"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.compose.ComposeActivity"
            android:label="@string/activity_compose_title"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.camera.CameraActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_camera_title"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".ui.camera.CameraPictureDetailActivity"
            android:label="@string/activity_camera_detail_title"
            android:parentActivityName=".ui.camera.CameraActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.screenshot.ScreenShotActivity"
            android:label="@string/activity_screenshot_title"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />


        <!-- Widget -->
        <activity
            android:name=".core.widget.TheLabAppWidgetConfigurationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- Google ML Kit -->
        <activity
            android:name=".ui.googlemlkit.LiveBarcodeScanningActivity"
            android:label="@string/activity_barcode_scanning_title"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.googlemlkit.settings.SettingsActivity"
            android:label="@string/activity_settings_title"
            android:parentActivityName=".ui.googlemlkit.LiveBarcodeScanningActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/activity_settings_title"
            android:parentActivityName=".ui.mainactivity.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/activity_about_title"
            android:parentActivityName=".ui.settings.SettingsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.webview.WebViewActivity"
            android:label="@string/activity_web_view_title"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <!-- ////////////// ACTIVITIES ////////////// -->


        <!-- ////////////// BROADCAST RECEIVER ////////////// -->
        <!-- Broadcast Receiver -->
        <receiver
            android:name=".core.broadcast.TheLabBootBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- Connection -->
        <receiver
            android:name=".core.broadcast.ConnectivityReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>

        <!-- Alarm -->
        <receiver
            android:name=".core.broadcast.ScheduleAlarmReceiver"
            android:exported="true" />

        <!-- Media Receiver -->
        <receiver android:name="androidx.mediarouter.media.MediaTransferReceiver" />
        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <!-- Widget -->
        <receiver
            android:name=".core.widget.TheLabAppWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/the_lab_app_widget" />
        </receiver>
        <!-- ////////////// BROADCAST RECEIVER ////////////// -->


        <!-- ////////////// SERVICES ////////////// -->
        <!-- Service that provides activity recognition data. Setting the android:exported attribute
        to "false" stops other apps from starting this service, even when using an explicit
        intent. -->
        <!--<service
            android:name=".services.DetectedActivitiesIntentService"
            android:exported="false" />

        <service android:name=".services.BackgroundDetectedActivitiesService" />-->

        <service
            android:name=".core.service.TheLabBootService"
            android:exported="true" />

        <service android:name=".core.service.ScheduleAlarmService" />

        <service
            android:name=".core.service.FloatingViewService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".core.service.MusicMediaPlaybackService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
        <!-- ////////////// SERVICES ////////////// -->


        <!--
            Disable the default initialization
            As described in WorkManager’s documentation,
             disabling has to be done in your AndroidManifest.xml file,
              removing the node that is merged automatically from the WorkManager library by default.
         -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!--If you are using androidx.startup to initialize other components-->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <!-- In order to use hilt injection in Worker -->
        <!-- If you want to disable android.startup completely. -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

    </application>
</manifest>